name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:
  push:
    branches:
    - master
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
      - uses: actions/checkout@v3

      - name: Generate Snake
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          # The query string below forces the color palette:
          # color_snake=orange
          # color_dots=#000000(bg),#1b1b1b(empty),#555555,#888888,#ffffff(full)
          outputs: |
            dist/github-contribution-grid-snake.svg?color_snake=orange&color_dots=#000000,#1b1b1b,#555555,#888888,#ffffff

      - name: Push to Output Branch
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git clone https://github.com/${{ github.repository }} .output_repo
          cd .output_repo
          git checkout output || git checkout -b output
          cp ../dist/github-contribution-grid-snake.svg .
          git add .
          git commit -m "Update Snake Animation" || echo "No changes to commit"
          git push https://x-access-token:${GITHUB_TOKEN}@github.com/${{ github.repository }}.git output
